@inject IJSRuntime Js
<div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem;">
    <img src="images/logo-transparent.svg" class="d-block border-bottom" alt="DBetter Logo" />
    <nav class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <div class="nav-item">
            <NavLink class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-content="@SidebarLanguage.Home" href="" Match="NavLinkMatch.All">
                <i class="material-icons">home</i>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-content="@SidebarLanguage.Connection" href="Connection">
                <i class="material-icons">search</i>
            </NavLink>
        </div>
        <div>
            <NavLink class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-content="@SidebarLanguage.Trips" href="Trips">
                <i class="material-icons">route</i>
            </NavLink>
        </div>
    </nav>
    <nav class="nav nav-pills nav-flush flex-column text-center">
        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item">
                    <NavLink class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-content="@SidebarLanguage.LoginRegister" href="Account">
                        <i class="material-icons">person</i>
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item">
                    <NavLink class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-content="@SidebarLanguage.MyAccount" href="Account">
                        <i class="material-icons">person</i>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

<script>
    function addTooltips() {
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    }

</script>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Js.InvokeVoidAsync("addTooltips");
    }
}